<p id="notice"><%= notice %></p>
 <div style="top:100">
<p>
  <b>Title:</b>
  <%= @list.title %>
</p>
 
<p>
  <b>Short description:</b>
  <%= @list.shortdescription %>
</p>
 
<p>
  <b>Category:</b>
  <%= @list.category %>
</p>
</div>
