<HTML><HEAD><meta http-equiv="content-type" content="text/html; charset=utf-8"><meta http-equiv="imagetoolbar" content="no"><link href="Resources/axurerppage.css" type="text/css" rel="stylesheet"></HEAD><BODY>
<script type="text/javascript">
function InitializeSubmenu(submenucontainerid, tablecellroid, tablecellid, fname) { 
var s = "";
s = s + "function " + fname + "() { ";
s = s + "document.getElementById(submenucontainerid).style.visibility='';";
s = s + "BringToFront(submenucontainerid);";
s = s + "}";
if ((index = navigator.userAgent.indexOf("MSIE")) >= 0)
s = s + "document.getElementById('" + tablecellid + "').attachEvent(\"onmouseover\", " + fname + ");";
else
s = s + "document.getElementById('" + tablecellid + "').addEventListener(\"mouseover\", " + fname + ", true);";
s = s + "document.getElementById(tablecellroid).onclick = function() {";
s = s + "if( document.createEvent ) {";
s = s + "var evObj = document.createEvent('MouseEvents');";
s = s + "evObj.initEvent( 'click', true, false );";
s = s + "document.getElementById(tablecellid).dispatchEvent(evObj);";
s = s + "} else if( document.createEventObject ) {";
s = s + "document.getElementById(tablecellid).fireEvent('onclick');";
s = s + "}";
s = s + "}";
eval(s);
}
</script>




<DIV id=ou8 style="position:absolute; left:20px; top:140px; width:1000px; height:31px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:763px; height:39px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Directory-page_files/u8.png',sizingMethod='scale');
"><img style="width:763px; height:39px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Directory-page_files/u8.png" border="0" alt=""></span>

</DIV>
<DIV id=u8container style="position:absolute; left:20px; top:140px; width:1000px; height:31px;; overflow:visible;">

<DIV id=u9 style="position:absolute; left:2px; top:7px; width:750px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u9_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u8 src="Resources/transparent.gif" style="position:absolute; left:20px; top:140px; width:1000px; height:30px"  >

<DIV id=u10 style="position:absolute; left:40px; top:144px; width:40px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u10_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:13px;"><u>Home</u></span></DIV></DIV>
<DIV id=u11 style="position:absolute; left:83px; top:145px; width:20px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u11_rtf><span style=" font-family:'Arial'; color:#000000; font-size:13px;">&gt;</span></DIV></DIV>
<DIV id=u12 style="position:absolute; left:99px; top:145px; width:61px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u12_rtf><span style=" font-family:'Arial'; color:#000000; font-size:13px;">Directory</span></DIV></DIV>

<span style="position:absolute; left:790px; top:988px; width:196px; height:6px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Directory-page_files/u21.png',sizingMethod='scale');
"><img style="width:196px; height:6px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Directory-page_files/u21.png" border="0" alt=""></span>

<IMG id=u21 src="Resources/transparent.gif" style="position:absolute; left:790px; top:988px; width:193px; height:3px">




















<DIV id=ou113 style="position:absolute; left:230px; top:181px; width:850px; height:620px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:549px; height:628px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Directory-page_files/u113.png',sizingMethod='scale');
"><img style="width:549px; height:628px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Directory-page_files/u113.png" border="0" alt=""></span>

</DIV>
<DIV id=u113container style="position:absolute; left:230px; top:181px; width:850px; height:620px;; overflow:visible;">

<DIV id=u114 style="position:absolute; left:2px; top:301.5px; width:536px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u114_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u113 src="Resources/transparent.gif" style="position:absolute; left:230px; top:181px; width:849px; height:619px"  >

<DIV id=u115 style="position:absolute; left:267px; top:191px; width:123px; height:19px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u115_rtf><span style=" font-family:'Arial'; color:#000000; font-size:16px;"><b>Content types</b></span></DIV></DIV>
<span style="position:absolute; left:230px; top:186px; width:30px; height:30px">
<span id=ou116 style="position:absolute;left:0px;top:0px;width:30px;height:30px;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Directory-page_files/u116.png',sizingMethod='scale');
"><img style="width:30px; height:30px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Directory-page_files/u116.png" border="0" alt=""></span>
</span>
<IMG id=u116 src="Resources/transparent.gif" style="position:absolute; left:230px; top:186px; width:30px; height:30px"   >

<span style="position:absolute; left:220px; top:221px; width:553px; height:6px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Directory-page_files/u117.png',sizingMethod='scale');
"><img style="width:553px; height:6px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Directory-page_files/u117.png" border="0" alt=""></span>

<IMG id=u117 src="Resources/transparent.gif" style="position:absolute; left:220px; top:221px; width:550px; height:3px">

<DIV id=ou118 style="position:absolute; left:230px; top:234px; width:101px; height:33px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:109px; height:41px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Directory-page_files/u118.png',sizingMethod='scale');
"><img style="width:109px; height:41px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Directory-page_files/u118.png" border="0" alt=""></span>

</DIV>
<DIV id=u118container style="position:absolute; left:230px; top:234px; width:101px; height:33px;; overflow:visible;">

<DIV id=u119 style="position:absolute; left:2px; top:8px; width:96px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u119_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u118 src="Resources/transparent.gif" style="position:absolute; left:230px; top:234px; width:100px; height:32px"  >

<DIV id=ou120 style="position:absolute; left:330px; top:234px; width:101px; height:33px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:109px; height:41px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Directory-page_files/u118.png',sizingMethod='scale');
"><img style="width:109px; height:41px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Directory-page_files/u118.png" border="0" alt=""></span>

</DIV>
<DIV id=u120container style="position:absolute; left:330px; top:234px; width:101px; height:33px;; overflow:visible;">

<DIV id=u121 style="position:absolute; left:2px; top:8px; width:96px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u121_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u120 src="Resources/transparent.gif" style="position:absolute; left:330px; top:234px; width:100px; height:32px"  >

<DIV id=ou122 style="position:absolute; left:430px; top:234px; width:101px; height:33px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:109px; height:41px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Directory-page_files/u118.png',sizingMethod='scale');
"><img style="width:109px; height:41px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Directory-page_files/u118.png" border="0" alt=""></span>

</DIV>
<DIV id=u122container style="position:absolute; left:430px; top:234px; width:101px; height:33px;; overflow:visible;">

<DIV id=u123 style="position:absolute; left:2px; top:8px; width:96px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u123_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u122 src="Resources/transparent.gif" style="position:absolute; left:430px; top:234px; width:100px; height:32px"  >

<DIV id=ou124 style="position:absolute; left:530px; top:234px; width:101px; height:33px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:109px; height:41px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Directory-page_files/u118.png',sizingMethod='scale');
"><img style="width:109px; height:41px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Directory-page_files/u118.png" border="0" alt=""></span>

</DIV>
<DIV id=u124container style="position:absolute; left:530px; top:234px; width:101px; height:33px;; overflow:visible;">

<DIV id=u125 style="position:absolute; left:2px; top:8px; width:96px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u125_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u124 src="Resources/transparent.gif" style="position:absolute; left:530px; top:234px; width:100px; height:32px"  >

<DIV id=ou126 style="position:absolute; left:630px; top:234px; width:101px; height:33px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:109px; height:41px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Directory-page_files/u118.png',sizingMethod='scale');
"><img style="width:109px; height:41px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Directory-page_files/u118.png" border="0" alt=""></span>

</DIV>
<DIV id=u126container style="position:absolute; left:630px; top:234px; width:101px; height:33px;; overflow:visible;">

<DIV id=u127 style="position:absolute; left:2px; top:8px; width:96px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u127_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u126 src="Resources/transparent.gif" style="position:absolute; left:630px; top:234px; width:100px; height:32px"  >

<DIV id=u128 style="position:absolute; left:239px; top:241px; width:100px; height:15px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u128_rtf><span style=" font-family:'Arial'; color:#0033FF; font-size:12px;"><u><b>Content Type 1</b></u></span></DIV></DIV>
<DIV id=u129 style="position:absolute; left:337px; top:241px; width:100px; height:15px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u129_rtf><span style=" font-family:'Arial'; color:#0033FF; font-size:12px;"><u><b>Content Type 2</b></u></span></DIV></DIV>
<DIV id=u130 style="position:absolute; left:439px; top:241px; width:100px; height:15px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u130_rtf><span style=" font-family:'Arial'; color:#0033FF; font-size:12px;"><u><b>Content Type 3</b></u></span></DIV></DIV>
<DIV id=u131 style="position:absolute; left:538px; top:241px; width:100px; height:15px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u131_rtf><span style=" font-family:'Arial'; color:#0033FF; font-size:12px;"><u><b>Content Type 4</b></u></span></DIV></DIV>
<DIV id=u132 style="position:absolute; left:639px; top:242px; width:100px; height:15px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u132_rtf><span style=" font-family:'Arial'; color:#0033FF; font-size:12px;"><u><b>Content Type 5</b></u></span></DIV></DIV>
<DIV id=u133 style="position:absolute; left:240px; top:284px; width:350px; height:19px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u133_rtf><span style=" font-family:'Arial'; color:#797979; font-size:17px;"><u><b>Title of the Listing 1 displayed here</b></u></span></DIV></DIV>
<DIV id=u133ann style="font-size:1px; position:absolute; left:581px; top:280px; width:1px; height:1px; overflow:visible"></DIV>






<DIV id=ou162 style="position:absolute; left:240px; top:310px; width:124px; height:91px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:132px; height:99px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Directory-page_files/u162.png',sizingMethod='scale');
"><img style="width:132px; height:99px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Directory-page_files/u162.png" border="0" alt=""></span>

</DIV>
<DIV id=u162container style="position:absolute; left:240px; top:310px; width:124px; height:91px;; overflow:visible;">

<DIV id=u163 style="position:absolute; left:2px; top:37px; width:119px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u163_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u162 src="Resources/transparent.gif" style="position:absolute; left:240px; top:310px; width:123px; height:90px"  >

<DIV id=u164 style="position:absolute; left:374px; top:315px; width:154px; height:15px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u164_rtf><span style=" font-family:'Arial'; color:#000000; font-size:12px;">Wednesday May 6, 2009</span></DIV></DIV>
<DIV id=u165 style="position:absolute; left:513px; top:313px; width:33px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u165_rtf><span style=" font-family:'Arial'; color:#000000; font-size:13px;">by</span></DIV></DIV>
<DIV id=u166 style="position:absolute; left:534px; top:313px; width:114px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u166_rtf><span style=" font-family:'Arial'; color:#000000; font-size:13px;"><b>[ Author Name ]</b></span></DIV></DIV>
<DIV id=u167 style="position:absolute; left:374px; top:339px; width:386px; height:32px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u167_rtf><span style=" font-family:'Arial'; color:#000000; font-size:13px;">&lt;short description&gt; Lorem ipsum dolo imit set consecture Lorem ipsum dolo imit set consecture Lorem ipsum</span></DIV></DIV>
<DIV id=u168 style="position:absolute; left:641px; top:355px; width:93px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u168_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:13px;"><u>Read more...</u></span></DIV></DIV>
<DIV id=u168ann style="font-size:1px; position:absolute; left:725px; top:351px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u169 style="position:absolute; left:374px; top:375px; width:170px; height:15px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u169_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:12px;"><u>Save in My Web Business</u></span></DIV></DIV>
<DIV id=u169ann style="font-size:1px; position:absolute; left:535px; top:371px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u170 style="position:absolute; left:240px; top:420px; width:350px; height:19px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u170_rtf><span style=" font-family:'Arial'; color:#797979; font-size:17px;"><u><b>Title of the Listing 2 displayed here</b></u></span></DIV></DIV>
<DIV id=u170ann style="font-size:1px; position:absolute; left:581px; top:416px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=ou171 style="position:absolute; left:240px; top:446px; width:124px; height:91px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:132px; height:99px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Directory-page_files/u162.png',sizingMethod='scale');
"><img style="width:132px; height:99px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Directory-page_files/u162.png" border="0" alt=""></span>

</DIV>
<DIV id=u171container style="position:absolute; left:240px; top:446px; width:124px; height:91px;; overflow:visible;">

<DIV id=u172 style="position:absolute; left:2px; top:37px; width:119px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u172_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u171 src="Resources/transparent.gif" style="position:absolute; left:240px; top:446px; width:123px; height:90px"  >

<DIV id=u173 style="position:absolute; left:374px; top:451px; width:154px; height:15px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u173_rtf><span style=" font-family:'Arial'; color:#000000; font-size:12px;">Wednesday May 6, 2009</span></DIV></DIV>
<DIV id=u174 style="position:absolute; left:513px; top:449px; width:33px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u174_rtf><span style=" font-family:'Arial'; color:#000000; font-size:13px;">by</span></DIV></DIV>
<DIV id=u175 style="position:absolute; left:534px; top:449px; width:114px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u175_rtf><span style=" font-family:'Arial'; color:#000000; font-size:13px;"><b>[ Author Name ]</b></span></DIV></DIV>
<DIV id=u176 style="position:absolute; left:374px; top:475px; width:386px; height:32px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u176_rtf><span style=" font-family:'Arial'; color:#000000; font-size:13px;">&lt;short description&gt; Lorem ipsum dolo imit set consecture Lorem ipsum dolo imit set consecture Lorem ipsum</span></DIV></DIV>
<DIV id=u177 style="position:absolute; left:641px; top:491px; width:93px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u177_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:13px;"><u>Read more...</u></span></DIV></DIV>
<DIV id=u177ann style="font-size:1px; position:absolute; left:725px; top:487px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u178 style="position:absolute; left:374px; top:511px; width:170px; height:15px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u178_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:12px;"><u>Save in My Web Business</u></span></DIV></DIV>
<DIV id=u178ann style="font-size:1px; position:absolute; left:535px; top:507px; width:1px; height:1px; overflow:visible"></DIV>



<SCRIPT src="Resources/axurerp_pagescript.js"></SCRIPT>
<SCRIPT src="Directory-page_files/axurerp_pagespecificscript.js"></SCRIPT></BODY></HTML>
